body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Cor de fundo opcional */
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}
h1{
    text-align: center;
    color:royalblue;
    
   
}
#frameRegistros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 98%;
    max-width: 900px; /* Limite máximo de largura para o contêiner */
    margin: 15px auto;
    height: 100%;
    text-align: center;
    background-color: #e9ebee;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 2px solid #3498db;
    padding: 5px;
}