body {
  min-height: 100vh;
  /* Use viewport height instead of percentage */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #626569;
}

header {
  width: 100%;
  background: linear-gradient(to right, #1E2733, #4A535E, #1E2733);
  box-shadow: 0px 3px 10px #464646;
}

.wrapper-conteudo {
  flex: 1;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  /* Altura do rodapé */
}

footer {
  width: 100%;
  padding: 0;
  /* Add some vertical padding */
  background: linear-gradient(to right, #1E2733, #4A535E, #1E2733);
  box-shadow: 0px -3px 10px #464646;
  /* Shadow on top instead of bottom */
  margin-top: auto;
  /* Push footer to bottom */
}
h2{
  background-color: #fff;
  text-align: center;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.logo {
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0;
  text-align: left;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Centraliza os links */
  flex-grow: 1;
  /* Faz os links ocuparem o espaço restante */
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  /* Remove o espaço ao redor da lista */
  padding: 0;
}

.nav-item {
  margin: 0 15px;
  position: relative;
}

.nav-link {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
}

.nav-link:hover {
  color: rgb(245, 6, 6);
}

/* Estilos do Dropdown */
.dropdown-menu {
  margin: auto;
  display: flex;
  justify-content: center;
  position: absolute;
  padding: 5px;
  top: 100%;
  background-color: #253875;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 160px;
}

.dropdown-menu li {
  padding: 5px 5px;
}

.dropdown-menu li a {
  color: white;
  text-decoration: none;
  justify-content: left;
}

.dropdown-menu li a:hover {
  color: rgb(245, 6, 6);
}

.nav-item.dropdown .dropdown-menu {
  display: none;
}

.nav-item.dropdown:hover .dropdown-menu {
  align-items: left;
  display: block;
}

.conteudo,
.mapa {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.conteudo img {
  width: 350px;
  height: 300px;
  margin: 10px;
  /* Espaçamento uniforme ao redor de cada imagem */
  cursor: zoom-in;
  box-sizing: border-box;
  /* Garante que o padding e as margens sejam incluídos nas dimensões da imagem */
}

.mapa img {
  width: 500px;
  height: 400px;
  margin: 0;
  /* Espaçamento uniforme ao redor de cada imagem */
  cursor: zoom-in;
  box-sizing: border-box;
  /* Garante que o padding e as margens sejam incluídos nas dimensões da imagem */
}

.img {
  position: relative;
  cursor: pointer;
}

.fullscreen {
  display: none;
  /* Mantém escondido até ser acionado */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  /* Fundo escuro semitransparente */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.fullscreen img {
  max-width: 90%;
  max-height: 90%;
  /* Limita o tamanho da imagem para não ultrapassar a tela */
  object-fit: contain;
  /* Mantém as proporções da imagem */
  border-radius: 10px;
  /* Borda arredondada opcional */
}

#map {
  margin: 2px;
  padding: 2px;
  height: 100vh;
  width: 100vw;
}

h1 {
  margin-top: 20px;
  padding-bottom:5px ;
  color: #1E2733;
  text-align: center;
  background-color: #fff;
}

p {
  font-size: 1.2em;
  border: solid 2px #ccc;
  text-align: center;
  width: 70%;
  max-width: 700px;
  margin: auto;
  padding: 15px;
  color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.479);
}

/*/////////////////////////////////// PROGRAMAÇÃO DE CAMPO  //////////////////////////////////////////////*/
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: center;
  background-color: #daebe2;
}

th {
  text-align: center;
  background-color: #daebe2;
  font-weight: bold;
}

caption {
  font-size: 2.2em;
  font-weight: bold;
  background-color: #7eb68aad;
}

@media screen and (max-width: 835px) {
  .button button a {
    text-decoration: none;
    font-weight: 500;
    font-size: 0.9rem;
  }

  .nav-link {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 400;
  }
}

@media screen and (max-width: 730px) {
  .nav-bar {
    padding: 1rem rem;
  }

  .nav-link {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 400;
  }

  caption {
    font-size: 1.5em;
  }

  tr {
    text-align: left;
    font-size: 0.6rem;
  }

  th {
    text-align: center;
    font-size: 0.6rem;
  }

  .mapa img {
    width: 350px;
    height: 300px;
    margin: 10px;
    /* Espaçamento uniforme ao redor de cada imagem */
    cursor: zoom-in;
    box-sizing: border-box;
    /* Garante que o padding e as margens sejam incluídos nas dimensões da imagem */
  }
}