body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #33629e;
}

header {
  background-color: #253875;
  box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
  align-items: center;
}

#logo {
  width: 40px;
  height: 40px;
}

.nav-list {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.nav-item {
  margin: 0 15px;
  position: relative;
}

.nav-link {
  text-decoration: none;
  font-size: 1.15rem;
  color: #fff;
  font-weight: 400;
}

.nav-link:hover {
  color: rgb(245, 6, 6);
}

/* Estilos do Dropdown */
.dropdown-menu {
  margin: auto;
  display: flex;
  justify-content: center;
  position: absolute;
  padding: 5px;
  top: 100%;
  background-color: #253875;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 160px;
}

.dropdown-menu li {
  padding: 5px 5px;
}

.dropdown-menu li a {
  color: white;
  text-decoration: none;
}

.dropdown-menu li a:hover {
  color: rgb(245, 6, 6);
}

.nav-item.dropdown .dropdown-menu {
  display: none;
}

.nav-item.dropdown:hover .dropdown-menu {
  align-items: left;
  display: block;
}

.login-button button {
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #0187a7;
}

.login-button button a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 835px) {
  .login-button button a {
    font-size: 0.9rem;
  }

  .nav-link {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 730px) {
  .nav-bar {
    padding: 1.2rem 4rem;
  }

  .nav-item {
    display: none;
  }

  .login-button {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }

  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }

  .mobile-menu .login-button {
    display: block;
    padding: 1rem 2rem;
  }

  .mobile-menu .login-button button {
    width: 100%;
  }

  .open {
    display: block;
  }

  .content h1 {
    font-size: 1rem;
   
  }
}

.conteudo img {
  width: 250px;
  height: 200px;
  float: left;
  padding: 10px;
  cursor: zoom-in;
}

.img {
  position: relative;
  cursor: pointer;
}

.fullscreen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

.fullscreen img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

#map {
  margin: 2px;
  padding: 2px;
  height: 100vh;
  width: 100vw;
}
h1{
  color: bisque;
  text-align: center;
}