
.conteudo img {
  width: 250px;
  height: 200px;
  float: left;
  padding: 10px;
  cursor: zoom-in;
}

.img {
  position: relative;
  cursor: pointer;
}

.fullscreen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

.fullscreen img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

#map {
  margin: 2px;
  padding: 2px;
  height: 100vh;
  width: 100vw;
}
h1{
  color: #1E2733;
  text-align: center;
}
p{
  border: solid 2px #ccc;
  text-align: center;
  width: 600px;
  margin: auto;
  padding: 20px;
  color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.479);
}